body {
    font-family: Verdana, Arial, sans-serif;
}

.exercise {
    background-color: #2C2C2C;
    color: #f4f4f4;
}

.exercise a {
    color: #99d0ff;
}

.exercise .undone {
    opacity: .6;
}

.exercise,
.exercise-content {
    margin: 0 auto 1em auto;
    max-width: 58.75em;
    width: 100%;
    padding: 1.25em;

    border-radius: 1em;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.exercise-content {
    background-color: #f0f0f0;
    color: #545454;
    min-height: 25em;
}